body {
    background: #ecf0f1;
    color: #374e64;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

.article-date {
    background: #16a085;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 10px solid #16a085;
}
.article-title {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 10px 4px 10px;
    border-bottom: 10px solid #16a085;
    max-width: 100%;
}
.article-link {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article-content { padding: 20px 10px; }
.article-summary { margin: 20px 0; }
#homepage-text {
    text-align: center;
    color: #fff;
    padding: 40px 0 60px 0;
    background-color: #00945e;
    background-image: url(/static/img/heart.jpg);
}
#carousel-container { margin: 40px 0 60px 0; }
#blog-latest {
    text-align: center;
    margin: 40px 0 60px 0;
}
.article-intro {
    overflow: hidden;
    height: 200px;
    margin-top: 20px;
}
.article-preview { list-style-type: none; }
.read-more {
    color: #fff;
    background-color: #16a085;
    padding: 10px;
    border: 1px solid #16a085;
    border-radius: 3px;
}
.read-more a { color: #fff; }
.full-screen {
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(/static/img/organzacotton.jpg);
}
#contact-emma {
    color: #fff;
    background-color: #374e64;
    padding: 40px 0;
    text-align: center;
}
#social-icons {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
}
#social-icons li {
    display: inline;
    padding: 0 40px;
}

/* Bootstrap elements */
.navbar { background-color: #16a085; }
.navbar-right a { color: #FFF; }
.navbar-toggle { background-color: #16a085; }
.navbar .icon-bar { background-color: #FFF; }