<script type="text/template" id="homepage-template">
<div id="homepage-banner">
    <div class="container">
        <div class="row">
            <h1>Emma Golding</h1>
        </div>
    </div>
</div>
<section id="about-emma">
    <div class="container">
        <h2>A Little About Me</h2>
        <p class="col-xs-12 col-md-8 col-md-offset-2">
            Gurt big deserunt pariatur tempor, voluptate kinave it ea. Proident sed he dos it, 
            innum all right me luvver kinave it yer were bis to voluptate officia ut laboris 
            alright me babber ee oo done it. Safternun consequat wheres attoo, dolore non lush 
            ut keener idut ceptible ohm anim discolated irure oozee. Safternun dolore gurt lush, 
            dollop as-dal cillum plasterscene ginormous deserunt eu idut masarge. Dint qui 
            excepteur zat alright.
        </p>
        <p class="col-xs-12 col-md-8 col-md-offset-2">
            All right me luvver ipsum dolor sit amet member stension lead as-dal masarge tamorra. Fugiat yer wheres attoo consectetur gashead luvver sint deserunt you gone and done it incididunt amblance cupidatat ad ea inchew. Sunt stension lead gashead proident. Tight tiz pacifically, adipisicing commodo cheers drive almunsbree ohm plasterscene gurt big reprehenderit kinave it. Commodo chimley theys gashead gurt big magna irure, est hark at ee fornbree listen to yourself do aarsh. Dollop dolore et eiusmod sunt cheers drive eu stension lead quicken cillum dint incididunt masarge. Ut laboris keener oozee sed nostrud.
        </p>
    </div>
</section>
<section id="graduation">
</section>
<section id="homepage-text">
    <div class="container">
        <h2>Beautiful Designs</h2>
        <p class="col-xs-12 col-md-8 col-md-offset-2">
            Gurt big deserunt pariatur tempor, voluptate kinave it ea. Proident sed he dos it, 
            innum all right me luvver kinave it yer were bis to voluptate officia ut laboris 
            alright me babber ee oo done it. Safternun consequat wheres attoo, dolore non lush 
            ut keener idut ceptible ohm anim discolated irure oozee. Safternun dolore gurt lush, 
            dollop as-dal cillum plasterscene ginormous deserunt eu idut masarge. Dint qui 
            excepteur zat alright.
        </p>
        <p class="col-xs-12 col-md-8 col-md-offset-2">
            All right me luvver ipsum dolor sit amet member stension lead as-dal masarge tamorra. Fugiat yer wheres attoo consectetur gashead luvver sint deserunt you gone and done it incididunt amblance cupidatat ad ea inchew. Sunt stension lead gashead proident. Tight tiz pacifically, adipisicing commodo cheers drive almunsbree ohm plasterscene gurt big reprehenderit kinave it. Commodo chimley theys gashead gurt big magna irure, est hark at ee fornbree listen to yourself do aarsh. Dollop dolore et eiusmod sunt cheers drive eu stension lead quicken cillum dint incididunt masarge. Ut laboris keener oozee sed nostrud.
        </p>
    </div>
</section>
<section id="blog-latest">
    <div class="container">
        <div class="row">
            <h2>Latest News</h2>
            <ul id="latest-blog-posts" class="col-xs-12"></ul>
        </div>
    </div>
</section>
<section id="contact-emma">
    <div class="container">
        <div class="row">
            <h2>Lets Talk</h2>
            <ul id="social-icons" class="col-xs-12">
                <li>
                  <a class="fa-stack fa-lg" href="{{ LINKEDIN_URL }}"
                     target="_blank" title="Linkedin Profile">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-linkedin fa-stack-1x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="fa-stack fa-lg" href="{{ TWITTER_URL }}"
                     target="_blank" title="Twitter Account">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="fa-stack fa-lg" href="{{ INSTAGRAM_URL }}"
                     target="_blank" title="Instagram Account">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x"></i>
                    </span>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</section>
</script>