<script type="text/template" id="homepage-template">
<div class="container">
    <h1 class="text-center">Emma Golding - Textile Designer</h1>
</div>
<section id="carousel-container">
    <div class="container">
        <div class="row">
            <div id="homepage-carousel" class="carousel slide" data-interval="2000" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#homepage-carousel" data-slide-to="1"></li>
                    <li data-target="#homepage-carousel" data-slide-to="2"></li>
                </ol>   
                <div class="carousel-inner">
                    <div class="active item">
                        <img class="col-xs-12 col-md-8 col-md-offset-2"
                             src="{{STATIC_URL}}img/cushions.jpg"/>
                    </div>
                    <div class="item">
                        <img class="col-xs-12 col-md-8 col-md-offset-2"
                             src="{{STATIC_URL}}img/workspace.jpg"/>
                    </div>
                    <div class="item">
                        <img class="col-xs-12 col-md-8 col-md-offset-2"
                             src="{{STATIC_URL}}img/organzacotton.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="homepage-text">
    <div class="container">
        <h2>Beautiful Designs</h2>
        <p class="col-xs-12 col-md-8 col-md-offset-2">
            Gurt big deserunt pariatur tempor, voluptate kinave it ea. Proident sed he dos it, 
            innum all right me luvver kinave it yer were bis to voluptate officia ut laboris 
            alright me babber ee oo done it. Safternun consequat wheres attoo, dolore non lush 
            ut keener idut ceptible ohm anim discolated irure oozee. Safternun dolore gurt lush, 
            dollop as-dal cillum plasterscene ginormous deserunt eu idut masarge. Dint qui 
            excepteur zat alright.
        </p>
    </div>
</section>
<section id="blog-latest">
    <div class="container">
        <div class="row">
            <h2>Latest News</h2>
            <ul id="latest-blog-posts" class="col-xs-12"></ul>
        </div>
    </div>
</section>
<section id="contact-emma">
    <div class="container">
        <div class="row">
            <h2>Lets Talk</h2>
            <ul id="social-icons">
                <li>
                  <a class="fa-stack fa-lg" href="{{ LINKEDIN_URL }}"
                     target="_blank" title="Linkedin Profile">
                    <i class="fa fa-linkedin fa-2x fa-stack-2x fa-inverse"></i>
                  </a>
                </li>
                <li>
                  <a class="fa-stack fa-lg" href="{{ TWITTER_URL }}"
                     target="_blank" title="Twitter Account">
                    <i class="fa fa-twitter fa-2x fa-stack-2x fa-inverse"></i>
                  </a>
                </li>
                <li>
                  <a class="fa-stack fa-lg" href="{{ INSTAGRAM_URL }}"
                     target="_blank" title="Instagram Account">
                    <i class="fa fa-instagram fa-2x fa-stack-2x fa-inverse"></i>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</section>
</script>